---
---

@import "{{ site.theme }}";

body {
	font: 12px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #727272;
	font-weight: 400;
}

code {
	font-size: 11px;
}

code, pre {
	font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
	color: #333;
	background-color: #f1f1f1;
}

.highlight {
	background-color: #f1f1f1;
}


