! pre-configured .Xresources file. Move to $HOME directory and run `xrdb ~/.Xresources` to initialize.

st.font: mono:pixelsize=12:antialias=true:autohint=true;
st.termname: st-256color
st.shell: /bin/sh
st.xfps: 120
st.actionfps: 30
st.blinktimeout: 800
st.bellvolume: 0
st.tabspaces: 8
st.borderpx: 8
st.cwscale: 1.0
st.chscale: 1.0
st.disablebold: 1
st.disableitalics: 1
st.diableroman: 1

!  COLORS

! fg & bg 
st.foreground: #EBDBB2
st.background: #282828

! black
st.color0: #1D2021
st.color8: #232627

! red
st.color1: #6F3635
st.color9: #EA6962

! green
st.color2: #6C782C
st.color10: #A9B665

! yellow
st.color3: #E78A4E
st.color11: #FDBC4B

! blue
st.color4: #196975
st.color12: #7DAEA3

! magenta
st.color5: #945E80
st.color13: #D3869B

! cyan
st.color6: #427B58
st.color14: #89B482

! white
st.color7: #938377
st.color15: #EBDBB2

! cursors
st.cursor: #EBDBB2
st.reverseCursor: #282828
